# TODO: update for RT detr
# solver params: optimzer, lr scheduler, etc.
solver:
  # the method for extracting parameters from the model; see solvers.build.get_optimizer_parameters() for more info
  parameter_strategy: "separate_backbone" # use a different lr for the backbone parameters

  optimizer:
    # The optimizer to use; must be one of the names in the optimizer_map dict
    name: "adamw"

    # additional params
    backbone_lr: 1.e-5 # lr for only the backbone

    # params for the optimizer
    params:
      lr: 1.e-4
      weight_decay: 0.0001