# The base configuration file for the DINO model
# Filename convention: 
#   - TODO

# Currently based on the config: https://github.com/IDEA-Research/DINO/blob/main/config/DINO/DINO_4scale.py
---
detector: "dino"

backbone: "resnet50"

backbone_params:
  return_levels: [1, 2, 3]

positional_embedding_params:
  # The height and width temperature of the positional embedding equation (attention is all you need);
  # see models.layers.positional for more details
  pe_temperature_h: 40
  pe_temperature_w: 40

  # row/col normalize the poisitonal coordinates [0, 2pi)
  normalize: True



# TODO
detector_params:
  num_feature_levels: 4

  hidden_dim: 256
